.navbar-text {
  margin-left: 15px;
}

.about {
  float: left;
  max-width: 70rem;
  margin-right: 3rem;
}

.social a {
  font-weight: 500;
  color: #eceeef;
}
.social a:hover {
  color: #fff;
}

.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 90rem;
}

.album {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
  height: 740px;
}

.col-lg-3, .col-md-4, .col-sm-6, .col-xs-12 {
  padding: 2px;
}

.card {
  float: left;
  width: 33.333%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
  flex-direction: column;
}
.img-responsive{
  max-height: 400px;
}

.card > img {
  margin-bottom: .75rem;
  max-height:500px;
}

.card-text {
  font-size: 100%;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.btn-primary {
  margin: 5px;
  width:200px;
}

.navbar-brand img{
  width:169px;
  height:32px;
}


.carousel-tagline {
  background: rgba(0, 0, 0, 0.5);
  display: block;
  height: 250px;
  left: 57%;
  overflow: hidden;
  position: absolute;
  top: 34%;
  width: 350px;
  z-index: 50;
}
.tagline {
  margin: 0 0 0 0;
  padding: 2em;
  color: #fff;
  text-align: center;
}
.tagline h2 {
  font-size: 4em
  margin: .25em 0;
}
.tagline h4 {
  line-height: 1.6em;
  font-weight: normal;
}

*{
  box-sizing:border-box;
}

body{
  background-image: url('http://subtlepatterns.com/patterns/sativa.png');
}
.title{
  text-align: center;
  font-family: 'Oswald';
  font-weight: 100;
  font-size: 3.75rem;
  letter-spacing:5px;
  background: linear-gradient(rgba(255,0,0,0), #444,rgba(255,0,0,0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 0;
  @media screen and (min-width:37.5em){
    font-size: 4.75rem;
  }
}

p{
  margin:0 auto 2rem;
  text-align: center;
  font-family: 'oswald';
  font-size: 1.25rem;
  color:#444;
  font-weight: 100;
  width: 90%;
  @media screen and (min-width:37.5em){
    height: 70%;
  }
  
}
.case-study-gallery{
  margin-top:50px;
  width: 90%;
  margin:50px auto;
}
.case-study {
  position: relative;
  display:block;
  width: 90%;
  height: 250px;
  margin:0 auto 2rem;
  background-size:cover;
  border-radius:10px;
  box-shadow:0px 10px 25px rgba(0,0,0,.5);
  overflow:hidden;
  transition:all .7s ease;
  @media screen and (min-width:37.5em){
    height: 300px;
  }
  @media screen and (min-width:45em) {
    display:inline-block;
    width: 45%;
    margin-left: 25px;
  }
}


.case-study__img{
    width: 90%;
    display:block;
    margin-top:50%;
    transform:translateY(50%);
    margin:0 auto;
  }


.case-study__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  z-index:10;
  &:after {
    content:'';
    width: 100%;
    border-radius:10px;
    height: 100%;

    opacity:0;
    position: absolute;
    top:0;
    z-index:-10;
    left:0;
    transition:all .3s ease;
  }
}
  
  .case-study__title {
    position: relative;
    top:-200px;
    margin-bottom:2rem;
    margin-top:4rem;
    font-size: 2.25rem;
    font-family: 'Oswald';
    font-weight: 100;
    color:white;
    text-align: center;
    letter-spacing:5px;
    transition:all .3s cubic-bezier(.3, 0, 0, 1.3);
  }
  
  .case-study__link {
    position: relative;
    display:block;
    width:60%;
    top:200px;
    padding:10px;
    margin: 0 auto;
    font-family: 'Oswald';
    color:white;
    letter-spacing:3px;
    text-decoration: none;
    text-align: center;
    border:2px solid white;
    border-radius:3px;
    font-size: 1.25em;
    transition:all .3s cubic-bezier(.3, 0, 0, 1.3);
    &:hover {
      background-color: green;
      color:#202020;
    }
  }

    .case-study:hover {
      
      .case-study__title{
        top:0;
      }
      .case-study__link{
        top:0;
      }
      
      .case-study__overlay:after{
        opacity:.75;
      } 
    }

/*  .card_footer{
    height:50px;
  }*/

.study1{
  background-image: url('../../assets/img/{{artist.img}}');
}

.study2 {
  background-image: url('../../assets/img/cover_photo_2.png');
}
.study3{
  background-image: url('../../assets/img/cover_photo_2.png');
}
.study4{
  background-image: url('../../assets/img/cover_photo_3.png');
}
.study5{
  background-image: url('../../assets/img/cover_photo_5.png');
}
.study6{
  background-image: url('../../assets/img/cover_photo_6.png');
  
}

/* MEDIA QUERIES */

/*@media (min-width: 1200px)
.hover {
    width: 25%;
}*/
